<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền để gửi thông báo và quản lý báo thức -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:targetApi="tiramisu"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Quyền yêu cầu lập lịch báo thức chính xác -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.example.homelandernotes.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.HomelanderNotes"
        tools:targetApi="31">

        <activity
            android:name="com.example.homelandernotes.activities.CreateNoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:exported="false" />

        <activity
            android:name="com.example.homelandernotes.activities.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.homelandernotes.activities.TaskListActivity"
            android:exported="false"/>
        <activity
            android:name="com.example.homelandernotes.activities.AddTaskActivity"/>
        <activity
            android:name="com.example.homelandernotes.activities.DayDetailsActivity"/>
        <activity
            android:name="com.example.homelandernotes.activities.TaskDetailActivity" />

        <receiver android:name="com.example.homelandernotes.toast.ReminderBroadcastReceiver" android:exported="false"/>


    </application>
</manifest>
